.main {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.header {
    height: 70px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.status {
    display: flex;
    display: flex;
    align-items: center;
}
.log-out {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px 11px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
    cursor: pointer;
}
.log-out:active {
    transform: scale(.96);
}
.box-message {
    height: 340px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.item-meg {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.block-mess .message {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
}
.message .time {
    font-size: 10px;
    padding-top: 5px;
    opacity: .5;
}
.right-mess {
    justify-content: flex-end;
}
.right-mess .avatar {
    margin: 0;
    margin-left: 10px;
}
.right-mess .message {
    align-items: flex-end;
}

.chat-box {
    height: 140px;
    border-top: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}
.chat-box input {
    width: 100%;
    background-color: #f0f2f5;
    outline: none;
    border: none;
    height: 35px;
    padding: 10px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.chat-box .btn-bg {
    background-color: #f0f2f5;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    height: 35px;
    display: flex;
    align-items: center;
}
.chat-box button {
    padding: 6px 7px;
    background-color: #d3e6e6;
    border-radius: 50%;
    border: none;
    margin-right: 5px;
    color: #1876f2;
}
